*{
    box-sizing: border-box;

}
body{
    background-color: rgb(255, 255, 255);
    color:rgb(255, 0, 0);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin:0;
}
#canvas{
    background: #ffffff;
    border-radius: 5px;
}